.mapa-view-container {
    padding: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map-container {
    height: 80vh; /* Ajusta la altura a un porcentaje de la ventana de visualización */
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    margin-top: 20px;
}

/* Estilos para el popup de Leaflet */
.leaflet-popup-content-wrapper {
    border-radius: 8px;
}

.leaflet-popup-content {
    font-size: 14px;
    font-weight: 500;
}